<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Sample Spring Boot Application</title>
	</head>
	<body>
		<h2>Sample App</h2>
		<p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. </p>
	</body>
</html>